:root {
	--shade-1-sl: 100%, 30%;
	--shade-2-sl: 100%, 40%;
	--shade-3-sl: 95%, 50%;
	--shade-4-sl: 85%, 60%;
	--shade-5-sl: 80%, 65%;
	--shade-6-sl: 75%, 70%;

	--grey-1: hsl(0, 0%, 10%);
	--grey-2: hsl(0, 0%, 20%);
	--grey-3: hsl(0, 0%, 35%);
	--grey-4: hsl(0, 0%, 55%);
	--grey-5: hsl(0, 0%, 80%);
	--grey-6: hsl(0, 0%, 90%);

	--slide-background: var(--grey-2);
}
