:root {
	--info-h: var(--blue-h);
	--info-1: hsl(var(--info-h), var(--shade-1-sl));
	--info-2: hsl(var(--info-h), var(--shade-2-sl));
	--info-3: hsl(var(--info-h), var(--shade-3-sl));
	--info-4: hsl(var(--info-h), var(--shade-4-sl));
	--info-5: hsl(var(--info-h), var(--shade-5-sl));
	--info-6: hsl(var(--info-h), var(--shade-6-sl));

	--warning-h: var(--orange-h);
	--warning-1: hsl(var(--warning-h), var(--shade-1-sl));
	--warning-2: hsl(var(--warning-h), var(--shade-2-sl));
	--warning-3: hsl(var(--warning-h), var(--shade-3-sl));
	--warning-4: hsl(var(--warning-h), var(--shade-4-sl));
	--warning-5: hsl(var(--warning-h), var(--shade-5-sl));
	--warning-6: hsl(var(--warning-h), var(--shade-6-sl));

	--danger-h: var(--red-h);
	--danger-1: hsl(var(--danger-h), var(--shade-1-sl));
	--danger-2: hsl(var(--danger-h), var(--shade-2-sl));
	--danger-3: hsl(var(--danger-h), var(--shade-3-sl));
	--danger-4: hsl(var(--danger-h), var(--shade-4-sl));
	--danger-5: hsl(var(--danger-h), var(--shade-5-sl));
	--danger-6: hsl(var(--danger-h), var(--shade-6-sl));

	/** Want to kick it up a notch? Show off your gradient skills! */
	--gradient-style: to right;

	--spotlight-h1: 5;
	--spotlight-h2: 35;

	--spotlight-1: linear-gradient(
		var(--gradient-style),
		hsl(var(--spotlight-h1), var(--shade-1-sl)),
		hsl(var(--spotlight-h2), var(--shade-1-sl))
	);
	--spotlight-2: linear-gradient(
		var(--gradient-style),
		hsl(var(--spotlight-h1), var(--shade-2-sl)),
		hsl(var(--spotlight-h2), var(--shade-2-sl))
	);
	--spotlight-3: linear-gradient(
		var(--gradient-style),
		hsl(var(--spotlight-h1), var(--shade-3-sl)),
		hsl(var(--spotlight-h2), var(--shade-3-sl))
	);
	--spotlight-4: linear-gradient(
		var(--gradient-style),
		hsl(var(--spotlight-h1), var(--shade-4-sl)),
		hsl(var(--spotlight-h2), var(--shade-4-sl))
	);
	--spotlight-5: linear-gradient(
		var(--gradient-style),
		hsl(var(--spotlight-h1), var(--shade-5-sl)),
		hsl(var(--spotlight-h2), var(--shade-5-sl))
	);
	--spotlight-6: linear-gradient(
		var(--gradient-style),
		hsl(var(--spotlight-h1), var(--shade-6-sl)),
		hsl(var(--spotlight-h2), var(--shade-6-sl))
	);
}
