:root {
	/**
		Before you proceed, make sure you are familiar with HSL colors.
		While RGB colors are mixed from Red-Green-Blue, HSL is composed of from
		- Hue: 0 - 360 degree (red -> orange -> green -> cyan -> blue -> pink -> red again)
		- Saturation: 0% (the most boring grey ever) - 100% (as vibrant color as it gets)
		- Luminosity: 0% (black) - 100% (white)

		Breaking down the color palette to "hues" and "shades (saturation + luminosity)"
		is just specific example for building up a design system. When using the sass
		language all sorts of color manipuilation controls are ready to be used.

		Since this workshop focuses exclusively on CSS, we use HSL colors to have similar
		control over our palette.
	*/

	--blue-h: 200;
	--cyan-h: 170;
	--orange-h: 32;
	--red-h: 0;

	--shade-1-sl: 75%, 70%;
	--shade-2-sl: 80%, 65%;
	--shade-3-sl: 85%, 60%;
	--shade-4-sl: 95%, 50%;
	--shade-5-sl: 100%, 40%;
	--shade-6-sl: 100%, 30%;

	--grey-1: hsl(0, 0%, 90%);
	--grey-2: hsl(0, 0%, 80%);
	--grey-3: hsl(0, 0%, 55%);
	--grey-4: hsl(0, 0%, 35%);
	--grey-5: hsl(0, 0%, 20%);
	--grey-6: hsl(0, 0%, 10%);

	--shadow-1: 0rem 0.0625rem  0.1875rem   rgba(0,0,0,0.12), 0rem 0.0625rem  0.125rem  rgba(0,0,0,0.25);
	--shadow-2: 0rem 0.1875rem  0.375rem    rgba(0,0,0,0.16), 0rem 0.1875rem  0.375rem  rgba(0,0,0,0.23);
	--shadow-3: 0rem 0.625rem   1.25rem     rgba(0,0,0,0.18), 0rem 0.375rem   0.375rem  rgba(0,0,0,0.22);
	--shadow-4: 0rem 0.875rem   1.75rem     rgba(0,0,0,0.25), 0rem 0.625rem   0.625rem  rgba(0,0,0,0.21);
	--shadow-5: 0rem 1.1875rem  2.375rem    rgba(0,0,0,0.30), 0rem 0.9375rem  0.75rem   rgba(0,0,0,0.20);
	--focus-shadow: 0 0 0.25rem;

	--size-1: 3rem;
	--size-2: 2.5rem;
	--size-3: 2rem;
	--size-4: 1.5rem;
	--size-5: 1.25rem;
	--size-6: 0.75rem;
	--size-7: 0.5rem;

	--size-hair: 0.125rem;

	/* Tablet */
	@media screen and (max-width: 1023px) {
		--size-1: 2.5rem;
		--size-2: 2rem;
		--size-3: 1.5rem;
		--size-4: 1.25rem;
		--size-5: 1rem;
		--size-6: 0.75rem;
		--size-7: 0.5rem;
	}

	/* Phone */
	@media screen and (max-width: 769px) {
		--size-1: 1.75rem;
		--size-2: 1.5rem;
		--size-3: 1.375rem;
		--size-4: 1rem;
		--size-5: 0.75rem;
		--size-6: 0.5rem;
		--size-7: 0.25rem;
	}
}
