html {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: var(--info-5);

	&:visited {
		color: var(--info-4);
	}
}

/** Webcomponents can be reset just like native ones */
demo-code {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	font-size: var(--size-4);
}
