/** Colors */
.has-text-info {
	color: var(--info-4) !important;
}
.has-text-warning {
	color: var(--warning-4) !important;
}
.has-text-danger {
	color: var(--danger-4) !important;
}
.has-text-spotlight {
	background: var(--spotlight-4) !important;
	background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	padding-right: 0.125em !important; /* Adjustment due to clipping issue */
}
