:root {
	--slide-title-font-size: var(--size-1);
	--slide-intro-font-size: var(--size-2);
	--slide-ribbon-font-size: var(--size-4);
	--slide-body-font-size: var(--size-3);

	--slide-background: white;
	--slide-title-background: var(--spotlight-4);
	--slide-icon-size: calc(var(--size-1) * 1.5);
	--slide-ribbon-background: var(--spotlight-4);
}

/* Block */
.slide {
	position: relative;
	overflow: hidden;
	border-radius: var(--size-7);

	box-shadow: var(--shadow-4);
	padding: var(--size-5) var(--size-4);
	background: var(--slide-background);

	display: grid;
	grid-row-gap: var(--size-3);
	grid-column-gap: var(--size-4);
	grid-template:
		'title	title'	auto
		'icon		intro'	auto
		'body		body'		auto
		'nav		nav'		1fr /
		auto 1fr;


	/* Context adapter */
	& .title {
		/* CSS Trick: gradient font */
		background: var(--slide-title-background);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		padding-right: 0.125em; /* Adjustment due to clipping issue */

		grid-area: title;
		max-width: max-content;
		font-size: var(--slide-title-font-size);
		font-weight: bold;
		text-transform: capitalize;

		/* CSS Trick: half-circled underline decoration */
		border: var(--size-7) solid transparent;
		border-left-color: var(--grey-3);
		border-bottom-color: var(--grey-3);
		border-radius: 999rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		padding-left: var(--size-5);
		padding-bottom: var(--size-7);
	}

	/* Context adapter */
	& .icon {
		grid-area: icon;
		align-self: center;
		width: var(--slide-icon-size);
		height: var(--slide-icon-size);
	}

	@media screen and (max-width: 1023px) {
		border-radius: 0;
	}
}

/* Element */
.slide-nav {
	grid-area: nav;
	display: inline-flex;
	justify-content: space-between;
	font-weight: bold;
	font-size: var(--size-3);
	align-items: flex-end;
	align-self: end;
}

/* Element */
.slide-ribbon {
	position: absolute;
	display: block;
	right: -4em;
	top: 2em;
	transform: rotate(45deg);
	padding: 0.25em 5em;
	background: var(--slide-ribbon-background);
	color: var(--grey-6);
	font-size: var(--slide-ribbon-font-size);
	font-weight: bold;
	box-shadow: var(--shadow-2);
}

/* Element */
.slide-intro {
	grid-area: intro;
	align-self: center;
	font-size: var(--slide-intro-font-size);
}

/* Element */
.slide-body {
	grid-area: body;
	font-size: var(--slide-body-font-size);

	/* CSS Trick: this is called the "lobotomized owl". Just google it. */
	& > * + * {
		margin-top: var(--size-4);
	}

	/* Context adapter */
	& .code {
		margin-top: var(--size-7);
	}
}
