/* Serves no semantic purpose other than debugging backgound colors */
.square {
	display: inline-block;
	width: 4rem;
	height: 4rem;

	&.is-info {
		&.is-1 { background-color: var(--info-1); }
		&.is-2 { background-color: var(--info-2); }
		&.is-3 { background-color: var(--info-3); }
		&.is-4 { background-color: var(--info-4); }
		&.is-5 { background-color: var(--info-5); }
		&.is-6 { background-color: var(--info-6); }
	}

	&.is-spotlight {
		&.is-1 { background: var(--spotlight-1); }
		&.is-2 { background: var(--spotlight-2); }
		&.is-3 { background: var(--spotlight-3); }
		&.is-4 { background: var(--spotlight-4); }
		&.is-5 { background: var(--spotlight-5); }
		&.is-6 { background: var(--spotlight-6); }
	}

	&.is-danger {
		&.is-1 { background: var(--danger-1); }
		&.is-2 { background: var(--danger-2); }
		&.is-3 { background: var(--danger-3); }
		&.is-4 { background: var(--danger-4); }
		&.is-5 { background: var(--danger-5); }
		&.is-6 { background: var(--danger-6); }
	}

	&.is-warning {
		&.is-1 { background: var(--warning-1); }
		&.is-2 { background: var(--warning-2); }
		&.is-3 { background: var(--warning-3); }
		&.is-4 { background: var(--warning-4); }
		&.is-5 { background: var(--warning-5); }
		&.is-6 { background: var(--warning-6); }
	}

	&.is-grey {
		&.is-1 { background: var(--grey-1); }
		&.is-2 { background: var(--grey-2); }
		&.is-3 { background: var(--grey-3); }
		&.is-4 { background: var(--grey-4); }
		&.is-5 { background: var(--grey-5); }
		&.is-6 { background: var(--grey-6); }
	}
}
