:root {
	--container-color: var(--grey-6);
	--container-background: var(--grey-1);
	--container-padding: var(--size-5) var(--size-3);
}

.container {
	display: grid;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	padding: var(--container-padding);
	color: var(--container-color);
	background: var(--container-background);

	@media screen and (max-width: 1023px) {
		--container-padding: 0;
	}
}
