:root {
	--content-em-color: var(--info-5);
	--content-strong-color: var(--info-5);
	--content-sublist-margin:
		var(--size-6) /* top */
		var(--size-3) /* right / left */
		var(--size-4) /* bottom */;
	--content-sublist-font-style: italic;
}

.content {
	& strong,
	& b {
		color: var(--content-strong-color);
	}

	& em,
	& i {
		font-style: normal;
		color: var(--content-em-color);
	}

	& li {
		& ol,
		& ul {
			margin: var(--content-sublist-margin);
			font-style: var(--content-sublist-font-style);
		}
	}
}
