:root {
	--icon-size: var(--size-5);
	--icon-padding: calc(var(--size-6) / 2);
	--icon-large-size: var(--size-2);
}

.icon {
	width: var(--icon-size);
	height: var(--icon-size);
	padding: var(--icon-padding);

	&.is-large {
		width: var(--icon-large-size);
		height: var(--icon-large-size);
	}
}
